<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
    <add key="BaseFolder" value="e:\videos" />
  <add key="CapturesFolder" value="E:\captures" />
    <add key="DescriptionFile" value="Episode.xml" />
  <add key="FFMpegPath" value="C:\Users\epikt\OneDrive\Apps\ffmpeg\bin\ffmpeg.exe -i &quot;{3}\{2}.mkv&quot; -c:v copy -c:a  pcm_s16le -map 0:0 -map 0:1 -map 0:2 -map 0:3 &quot;{0}\{1}\{2}.mov&quot;" />
</appSettings>
</configuration>