<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
  <add key="BaseFolder" value="D:\Dev\Epiktetus\Sample" />
  <add key="DescriptionFile" value="Episode.xml" />
  <add key="FFMpegPath" value="C:\Users\epikt\OneDrive\Apps\ffmpeg\bin\ffmpeg.exe {0} {1}" />
</appSettings>
</configuration>